@use '../rules/mixins';

.Blog {
	.article > section {
		@include mixins.article-section;
	}

	.article section aside > div {
		@include mixins.flex-content-center;
	}
	.citation {
		display: block;
		text-align: center;
		font-size: 0.85em;
		font-style: italic;
		color: var(--grey-medium);
	}

	.ctas-container {
		display: block;
		text-align: center;

		.cta-button:first-child,
		.cta-button:first-child:hover {
			margin-right: 2rem;
		}

		.cta-button,
		.cta-button:hover {
			text-decoration: none;
			display: inline-block;
			border-radius: 10px;
			padding: 0.4rem 0.8rem;
			white-space: nowrap;
			@include mixins.ombre-portee-panneau; //border: 0.1rem solid var(--secondary-color) !important;
		}

		.cta-button {
			color: var(--text-color) !important;
		}
	}
	.dates {
		.citation {
			margin-top: 1.5rem;
		}
	}

	.hero,
	.dates {
		.hero-container,
		.dates-container {
			display: flex;
			align-items: center;

			p {
				padding: 1rem;
			}
		}

		.dates-container {
			justify-content: space-around;
		}

		.image-soin-1,
		.image-soin-2 {
			padding: 0 1rem;
			border-radius: 50px !important;
		}
		.image-soin-1 {
			height: 200px;
		}

		.image-soin-2 {
			height: 350px;
		}

		.hero-container {
			.citation {
				margin-top: 0px;
			}
		}
	}

	.reservation-description-footer {
		display: flex;
		justify-content: space-around;
	}

	.location {
		.section-header,
		.section-content {
			display: block;
			width: 100%;
		}
		.section-content > div {
			display: flex;
			flex-direction: row;
			.section-adresse {
				flex: 1;
				align-items: stretch;
				text-align: center;
			}
			.section-map {
				flex: 2;
				align-items: center;
			}
		}
		display: flex;
		flex-direction: column;
		padding-bottom: 1em;
	}
}

.map iframe {
	@include mixins.ombre-portee-panneau;
	border: none;
	width: 600px;
	height: 250px;
}

@media (max-width: 767px) {
	.map iframe {
		height: 200px;
		width: 275px;
	}
	.Blog {
		.hero,
		.dates {
			.hero-container,
			.dates-container {
				flex-direction: column !important;
			}
		}

		.hero-container {
			text-align: center;

			.image-soin-1 {
				margin-top: 1.5rem;
				height: 150px;
			}
		}

		.hero {
			.ctas-container {
				a {
					margin: unset !important;
				}
			}
		}

		.dates,
		.reservation-description-footer {
			.ctas-container {
				a {
					margin: 0 0 1rem 0 !important;
				}
			}
		}

		.rdv {
			padding-top: 0px !important;
			margin: 0px;
		}

		.location {
			.section-content > div {
				flex-direction: column !important;
			}
		}
	}
}

@media (max-width: 1024px) {
	.Blog {
		.article {
			h1 {
				font-size: 1.4rem !important;
			}
		}

		.article section {
			flex-direction: column;
		}
	}
}

@media (min-width: 1025px) {
	.Blog aside {
		flex-direction: inherit;
	}
}
