@use '../rules/mixins';

.Offres {
	.prices-content,
	.intervention-area,
	.offres-container {
		@include mixins.ombre-portee-basse-panneau;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 0 1rem;
		margin: 0.5rem;

		.prices-paragraph-container,
		.offres-paragraph-container {
			display: flex;
			justify-content: space-around;
			padding: 0 1rem;
			margin: 0.5rem;

			.prices-paragraph-content,
			.offres-paragraph-content {
				width: 300px;
			}
		}

		.prices-container .footer-cta-container {
			margin-bottom: 1rem;
		}
	}
}
@media (max-width: 768px) {
	h3,
	h4 {
		margin-bottom: inherit !important;
	}

	.prices-paragraph-content,
	.offres-paragraph-content {
		width: inherit !important;
	}

	.prices-paragraph-container,
	.offres-paragraph-container {
		flex-flow: column !important;
	}
}
