@use '../rules/mixins';

.QuiSuisJe {
	.first-header-2 {
		.first-header-2-container {
			.header-2-container {
				.header-2-content {
					.header-2-description {
						display: inline-block;

						.img-moi-l-container {
							display: block;
							width: 100%;
							text-align: center;

							.img-qui-suis-je-moi {
								display: inline-block;
								aspect-ratio: auto 100 / 100;
								max-height: 250px;
								@include mixins.border-rounded;
							}
						}
					}
				}
				.header-2-image-container {
					display: inline-block;
					--background-image-lazy: url('../../assets/moi500x.jpg');
					background-image: var(--background-image-lazy) !important;
					background-size: cover;
					background-position: center;
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;

					img.img-qui-suis-je-moi {
						display: inline-block;
						aspect-ratio: auto 100 / 100;
						visibility: hidden;
						max-height: 325px;
					}
				}
			}
		}
	}
	.career-header {
		.career-header-3-containers {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: start;
		}
		.career-content {
			@include mixins.ombre-portee-basse-panneau;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 0 1rem 1rem;
			margin: 0.5rem;

			h3 {
				color: var(--text-color) !important;
				font-size: 1.1rem;
				padding: 1rem 0 0.5rem 0;
				margin-block-end: unset !important;
				margin-block-start: unset !important;
			}

			.career-image-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding: 0 0 0.5rem 0;

				img {
					@include mixins.border-rounded;
					max-width: 350px;
				}
			}

			.cta-container {
				padding-bottom: 0.5rem;
				display: flex;
				flex-direction: row;
				justify-content: center;

				blockquote {
					display: inline-block !important;
					text-align: center;
					color: var(--grey-medium);
					font-style: italic !important;
					font-size: 0.9rem;
				}
			}
		}
	}

	.centers-container {
		.center-header {
			p {
				text-align: center;
				margin-top: 0;
			}
		}
		.centers-containers {
			display: flex;
			justify-content: start;
			align-items: start;
			margin-top: 0.5rem;
			flex-direction: row;
			flex-wrap: wrap;

			.center-container {
				display: inline-block !important;
				width: 50%;
				padding: 0.5rem;

				.cta-container {
					padding: 0.5rem;
					display: block;
				}

				.center-area {
					display: flex;
					align-items: start;
					flex-direction: row;
					justify-content: flex-start;

					ul:nth-of-type(2) {
						margin-left: 20%;
					}
				}

				h3 {
					color: var(--text-color) !important;
					font-size: 1.1rem;
					padding: 1rem 0 0.5rem 0;
					margin-block-end: unset !important;
					margin-block-start: unset !important;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.QuiSuisJe {
		.first-header-2 {
			.first-header-2-container {
				.header-2-container {
					.header-2-content {
						padding-top: 0rem !important;
						padding-bottom: 0rem !important;

						h1 {
							padding-top: 0.25rem;
							font-size: 1.6rem;
						}

						.header-2-sub-title {
							font-size: 0.8rem;
							justify-content: unset !important;
						}

						.header-2-cta {
							flex-flow: column !important;
							.cta-container-row {
								flex-flow: column !important;
								margin-bottom: 0.5rem;
							}
						}
					}
				}
			}
		}

		.centers-containers {
			flex-direction: column !important;
			.center-container {
				flex-direction: column !important;
				align-items: start !important;
				width: 100% !important;
				padding: 0rem !important;

				.center-area {
					flex-direction: column !important;
					ul {
						margin: 0rem !important;
						margin-block-start: 0rem !important;
						margin-block-end: 0rem !important;
					}
				}
			}
			.paragraphe-content {
				ul {
					padding-left: 0rem;
				}
			}
		}
	}
}
