@use '../rules/mixins';

.Reiki {
	.first-header-2 {
		.first-header-2-container {
			.header-2-container {
				.bg-image-alternative-container-img-ventre-reiki {
					img {
						max-height: 250px;
					}
				}

				.bg-image-container-img-ventre-reiki {
					--background-image-lazy: url('../../assets/Reiki/Reiki-ventre.png');
					background-image: var(--background-image-lazy) !important;
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
					.bg-image-container-content {
						img {
							max-height: 300px;
						}
					}
				}
			}
		}
	}

	.reiki-usui-description-container {
		.reiki-usui-description-main-content {
			display: flex;
			flex-flow: row;
			justify-content: space-evenly;
			align-items: center;
			@include mixins.ombre-portee-basse-panneau;
			padding: 1rem;

			.bg-image-alternative-container-img-logo-reiki {
				img {
					max-height: 150px;
				}
			}

			.bg-image-container-img-logo-reiki {
				--background-image-lazy: url('../../assets/Reiki/Reiki.svg');
				background-image: var(--background-image-lazy) !important;
				border-bottom-left-radius: 25px;
				.bg-image-container-content {
					margin: 1rem;
					img {
						max-height: 150px;
					}
				}
			}

			.reiki-usui-description-content {
				padding: 0rem 1rem;
			}
		}
	}

	.reiki-usui-benefits {
		@include mixins.ombre-portee-basse-panneau;
		padding: 1rem;

		.reiki-usui-benefits-lists {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
		}

		.reiki-usui-benefits-lists,
		.reiki-usui-benefits-disclaimers {
			flex-basis: 50vw;
		}
	}

	.reiki-usui-targets-container {
		@include mixins.ombre-portee-basse-panneau;
		padding: 1rem;
		.reiki-usui-targets-lists {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
		}

		.reiki-usui-targets-lists,
		.reiki-usui-target-disclaimer-list {
			flex-basis: 50vw;
		}
	}

	.reiki-usui-prices-container {
		@include mixins.ombre-portee-basse-panneau;
		padding: 1rem;
		.reiki-usui-prices-content {
			.reiki-usui-prices-inner-content {
				display: flex;
				text-align: right;
				flex-flow: row;
				justify-content: space-evenly;
			}

			.reiki-usui-prices-cta {
				padding: 1.5rem;
				.cta-primary {
					margin-right: 1.5rem;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.Reiki {
		.first-header-2 {
			.first-header-2-container {
				.header-2-container {
					.header-2-content {
						padding-top: 0rem !important;
						padding-bottom: 0rem !important;

						h1 {
							padding-top: 0.25rem;
							font-size: 1.6rem;
						}

						.header-2-sub-title {
							font-size: 0.8rem;
							justify-content: unset !important;
						}

						.header-2-cta {
							flex-flow: column !important;
							.cta-container-row {
								flex-flow: column !important;
								margin-bottom: 0.5rem;
							}
						}
					}
				}
			}
		}
		.reiki-usui-description-main-content,
		.reiki-usui-benefits-lists,
		.reiki-usui-benefits-disclaimers,
		.reiki-usui-targets-lists,
		.reiki-usui-target-disclaimer-list,
		.reiki-usui-prices-content,
		.reiki-usui-prices-inner-content {
			flex-flow: column !important;
			flex-basis: inherit !important;
		}

		.reiki-usui-prices-panel {
			h4 {
				text-align: left;
			}
		}

		.reiki-usui-prices-image-content,
		.bg-image-alternative-container {
			img:not(.vertical) {
				width: 250px;
				max-height: unset !important;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.Reiki {
		.reiki-usui-prices-inner-content {
			padding-left: 0.5rem;
		}
		img.img-lombaires {
			max-width: 300px !important;
		}
	}
}
