@use '../rules/mixins';

.SoinDomicile {
	.first-header-2 {
		.first-header-2-container {
			.header-2-container {
				.bg-image-alternative-container-img-soin-dom-1 {
					img {
						max-height: 250px;
					}
				}

				.bg-image-container-img-soin-dom-1 {
					--background-image-lazy: url('../../assets/soin-domicile/massage-a-domicile-du-dos-assis-eas.jpg');
					background-image: var(--background-image-lazy) !important;
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
					.bg-image-container-content {
						img {
							max-height: 300px;
						}
					}
				}
			}
		}
	}

	.massage-a-domicile-description-container {
		.massage-a-domicile-description-main-content {
			display: flex;
			flex-flow: row;
			justify-content: space-evenly;
			align-items: center;
			@include mixins.ombre-portee-basse-panneau;

			.bg-image-alternative-container-img-2 {
				img {
					max-height: 250px;
				}
			}

			.bg-image-container-img-2 {
				--background-image-lazy: url('../../assets/soin-domicile/massage-a-domicile-du-dos-assis-eas-jardin.jpg');
				background-image: var(--background-image-lazy) !important;
				border-bottom-left-radius: 25px;
				.bg-image-container-content {
					img {
						max-height: 230px;
						width: 350px;
					}
				}
			}

			.massage-a-domicile-description-content {
				padding: 0rem 1rem;
			}
		}
	}

	.massage-a-domicile-benefits,
	.massage-a-domicile-targets-container {
		@include mixins.ombre-portee-basse-panneau;
		padding: 1rem;

		.massage-a-domicile-benefits-lists,
		.two-column-block-main-container {
			display: flex;
			flex-flow: row;
			justify-content: space-around;
		}

		ol {
			padding-left: 1.5rem;
		}

		.two-column-block,
		.massage-a-domicile-benefits-lists,
		.massage-a-domicile-disclaimers {
			flex-basis: 50vw;
		}
	}
}
@media (max-width: 768px) {
	.SoinDomicile {
		.first-header-2 {
			.first-header-2-container {
				.header-2-container {
					.header-2-content {
						padding-top: 0rem !important;
						padding-bottom: 0rem !important;

						h1 {
							padding-top: 0.25rem;
							font-size: 1.6rem;
						}

						.header-2-sub-title {
							font-size: 0.8rem;
							justify-content: unset !important;
						}

						.header-2-cta {
							flex-flow: column !important;
							.cta-container-row {
								flex-flow: column !important;
								margin-bottom: 0.5rem;
							}
						}
					}
				}
			}
		}
		.massage-a-domicile-description-main-content,
		.massage-a-domicile-benefits-lists {
			flex-flow: column !important;
			flex-basis: inherit !important;
		}
		.two-column-block-main-container {
			flex-flow: column !important;
			flex-basis: inherit !important;
		}

		.massage-assis-eas-prices-image-content,
		.bg-image-alternative-container {
			img:not(.vertical) {
				width: 250px;
				max-height: unset !important;
			}
			img .vertical {
				max-height: 250px;
			}
		}
	}
}
