@use '../rules/mixins';

.BlogCard {
	margin: 0.8rem;
	display: inline-block;
	height: 512px !important;

	.blog-card-main-container {
		background-color: unset;
		border: none;
		padding: 0.5em;
		display: flex;
		flex-direction: column;
		height: 100%;
		@include mixins.ombre-portee-basse-panneau;

		.p-card-header h2 {
			color: var(--secondary-color-text);
			text-align: justify;
			padding: 0 0.5em;
			margin-bottom: 0px;
		}

		.p-card-body {
			padding-top: 0px;

			.blog-card-first-container {
				.blog-card-img-container {
					text-align: center;
					display: flex;
					justify-content: center;
					flex-wrap: nowrap;

					.blog-card-thumbnail {
						height: 167px !important;
					}
				}
			}

			.blog-card-tags {
				display: flex;
				flex-wrap: wrap;
				.blog-card-tag {
					margin-right: 0.5em;
					margin-bottom: 0.5em !important;
					display: block;
				}
			}

			.p-card-footer {
				padding-top: 0px;
				text-align: right;
			}
		}
	}
}

@media (max-width: 768px) {
	.BlogCard {
		height: unset !important;
		.p-card-header h2 {
			font-size: 0.85rem !important;
		}
	}
}
