:root {
	/* organge */
	--text-color: #3f2509 !important;
	--primary-color-text: #ffffff !important;
	--primary-color: #ff6200 !important;
	--secondary-color-text: #e0a14e !important;
	--secondary-color: #ffb554 !important;
	--tertiary-color: #470076 !important;
	--background-main-color: #ececec !important;
	--background-color: #f0f0f0 !important;
	--background-light-grey: #dddddd !important;
	--background-voile: rgba(255, 255, 255, 0.9) !important;
	--shadow: rgba(128, 128, 128, 0.1) !important;
	--shadow-medium: rgba(255, 255, 255, 0.5) !important;
	--shadow-ligth: rgba(255, 255, 255, 0.9) !important;
	--grey-medium: rgba(128, 128, 128) !important;
	--grey-light: #ccc !important;
	--danger: #e60017 !important;
	--text-front-family: 'Open Sans', sans-serif;
	--title-font-family: 'Amita', cursive;
}
