:root {
	/* organge */
	--text-color: #3f2509 !important;
	--text-color-secondary: #e0a14e !important;
	--primary-color-text: #ffffff !important;
	--primary-color: #ff6200 !important;
	--secondary-color-text: #ff6200 !important;
	--secondary-color: #ffb554 !important;
	--tertiary-color: #470076 !important;
	--background-main-color: #eeeeee !important;
	--background-color: #f0f0f0 !important;
	--shadow: rgba(128, 128, 128, 0.1) !important;
	--shadow-ligth: rgba(255, 255, 255, 0.9) !important;
	--grey-medium: rgba(128, 128, 128) !important;
	--grey-light: #ccc !important;
	--danger: #e60017 !important;
}
