@mixin border-rounded {
	border-radius: 25px;
}

@mixin top-border-rounded {
	border-top-left-radius: 23.5px;
	border-top-right-radius: 23.5px;
}

@mixin btn-border-rounded {
	border-radius: 10px;
}

@mixin ombre-portee-panneau {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 5px 5px 5px 5px var(--shadow);
	background-color: var(--background-color);
}

@mixin ombre-portee-basse-panneau {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 5px 5px 5px 5px var(--shadow);
	background-color: var(--background-color);
}

@mixin article-section {
	display: flex;
	flex: 1 1;
	justify-content: flex-start;
	flex-direction: row;
}

@mixin flex-content-center {
	display: flex;
	justify-content: center;
}

@mixin paragraphe-txt-container {
	flex: 2 1;
	align-items: center;
}

@mixin paragraphe-img-container {
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}

@mixin paragraphe-img {
	display: flex;
	width: 80%;
	height: 80%;
	border-radius: 25px;
}

@mixin svg-secondary-color-text {
	filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(1385%)
		hue-rotate(318deg) brightness(89%) contrast(96%);
}

@mixin svg-primary-color {
	filter: brightness(0) saturate(100%) invert(47%) sepia(61%) saturate(4234%)
		hue-rotate(1deg) brightness(101%) contrast(106%);
}
@mixin svg-text-color {
	filter: brightness(0) saturate(100%) invert(14%) sepia(7%) saturate(6039%)
		hue-rotate(353deg) brightness(101%) contrast(95%);
}

@mixin svg-tertiary-color {
	filter: brightness(0) saturate(100%) invert(12%) sepia(72%) saturate(4189%)
		hue-rotate(272deg) brightness(76%) contrast(119%);
}
@mixin svg-secondary-color {
	filter: brightness(0) saturate(100%) invert(80%) sepia(66%) saturate(2917%)
		hue-rotate(325deg) brightness(119%) contrast(108%);
}
