.App {
  /* text-align: center; */
  padding: 2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 25vh;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color-text);
}

.p-menuitem-text {
  color: var(--primary-color) !important
}

.selected .p-menuitem-text {
  color: var(--secondary-color) !important
}


.App-link {
  color: #61dafb;
}

