:root {
  --text-color: #008000 !important;
  --text-color-secondary: #00ff00 !important;
  --primary-color-text: #ffffff !important;
  --primary-color: #008000 !important;
  --secondary-color:#00ff00 !important;
}

body {
  color: var(--text-color) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, a, span:not(.p-button-label), td, h1, h2, h3{
  color: var(--text-color) !important;
}

p{
  text-align: justify;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
