.p-component {
  font-family: 'Amita', cursive;
}

label {
  margin-right: 1rem;
  display: flex;
}

.p-inputtext {display: flex;}

.p-error {
  display: flex;
  margin-left: 1rem;
}

.p-button:not(.facebook):not(.bottom-right-fixed):not(.p-button-secondary) {
  background: var(--primary-color) !important;
  border: var(--primary-color) !important;
}

.p-button:not(.bottom-right-fixed) {
  padding: 0.2rem 0.75rem;
}

nav .p-menuitem .p-menuitem-text {
  font-size: 0.9rem; 
}

.p-menubar .p-menubar-button,
.bottom-right-fixed,
.p-button-secondary,
.p-button-icon-only,
nav .p-menuitem:not(.selected) .p-menuitem-text {
  color: var(--primary-color) !important;
}

nav .p-menuitem.selected .p-menuitem-text {
  color: var(--secondary-color) !important;
}

.bottom-right-fixed:hover,
.p-button-secondary:hover,
.p-button-icon-only:hover,
nav .p-menuitem:not(.selected) a.p-menuitem:hover, 
nav .p-menubar-mobile-active .p-menubar-button:hover, 
.p-button-secondary:hover {
  filter: invert(5%);
}

.bottom-right-fixed:active,
.p-button-secondary:active,
.p-button-icon-only:active,
nav .p-menuitem:not(.selected) a.p-menuitem:active, 
nav .p-menubar-mobile-active .p-menubar-button:active, 
.p-button-secondary:active {
  filter: invert(10%);
}

.p-menubar {
  background: var(--background-color) !important;
  border: unset !important;
  border-radius: 0 !important;
}


.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
  padding: 0.2rem 0.75rem;
}

