@use 'rules/main';
@use 'rules/mixins';

body {
	color: var(--text-color);
	margin: 0;
	font-family: var(--text-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-main-color);
	font-size: 0.85rem !important;
}

ul,
dl {
	padding-left: 1.5rem;
}

ol {
	padding-inline-start: 0px;
	padding-left: 0;
}

li,
dt {
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--title-font-family);
}

h1 {
	color: var(--primary-color) !important;
	margin: inherit;
	padding: 1rem 0 0 0;
	margin-top: 0.2rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.95rem;
	font-style: italic;
}

h2.center-secondary-title {
	font-size: 1.4rem;
	text-align: center;
	color: var(--secondary-color-text) !important;
}

p,
i:not(.pi),
span:not(.p-button-label):not(.p-button-icon):not(.facebook):not(.linkedin):not(
		.asterix
	):not(.p-menuitem-text):not(.p-toast-summary):not(.p-toast-message-icon):not(
		.p-badge
	),
td {
	color: var(--text-color) !important;
}
th {
	h4 {
		margin: 0rem;
	}
}

p {
	text-align: justify;
}

a:not(.p-menubar-button, .message a) {
	color: var(--text-color) !important;
	text-decoration: none;
}

.App header,
.App-body {
	padding: 0 1rem;
}

.App header,
.App-body {
	background: var(--background-color) !important;
}

.message-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);

	p {
		margin: 0;
		padding: 0.25rem 1rem;
		a {
			color: var(--tertiary-color) !important;
			font-size: 0.85rem;
		}
	}
}

.cta-container-row,
.cta-container-column {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 0.5rem;
}

.cta-container-column {
	flex-flow: column;
}

.cta-container-column > *:not(:last-child) {
	margin-bottom: 1rem;
}

.cta-container-row {
	flex-flow: row;
	.cta:first-child {
		margin-left: 1rem;
	}
}

label {
	margin-right: 1rem;
	display: flex;
}

.bold {
	font-weight: bold;
	font-style: inherit;
}

.italic,
.strong,
strong,
.note {
	font-weight: inherit;
	font-style: italic;
}

.disclaimer {
	color: var(--tertiary-color) !important;
	font-style: italic;
	font-weight: bold;
}

.asterix {
	color: var(--secondary-color) !important;
}

blockquote,
.note {
	color: var(--grey-medium) !important;
}

blockquote {
	display: inline-block;
	text-align: center;
	padding: 0.5rem;
	margin: 0;
	font-style: italic !important;
	font-size: 0.9em !important;
	width: 100%;
}

header {
	padding: 0 !important;
	.title {
		.logo {
			vertical-align: top;
			display: inline-block;
			width: 2rem;
		}
		.nom-site {
			display: inline-block;
			padding-left: 1rem;
		}
	}
	nav {
		width: 100%;
	}
}

.first-header-2 {
	.first-header-2-container {
		display: flex;
		justify-content: center;
		padding-top: 1rem;

		.header-2-container {
			@include mixins.ombre-portee-panneau;
			display: flex;
			flex-flow: row;
			justify-content: space-between;

			.header-2-content {
				display: flex;
				flex-flow: column;
				padding: 0 1.5rem;
				margin-bottom: 1rem;
				justify-content: space-evenly;

				h1 {
					margin-bottom: 0rem;
				}

				.header-2-sub-title {
					color: var(--text-color) !important;
					font-size: 1.1rem;
					font-family: var(--title-font-family);
					font-weight: bold;

					margin-top: 0;
					display: inline-block;
				}

				.header-2-cta {
					display: flex;
					flex-flow: row;
					justify-content: space-evenly;
					align-items: center;

					.header-2-cta-container {
						a.cta {
							margin-right: 1.5rem;
						}
					}
				}
			}
		}
	}
}

.faq-container {
	.faq-main-container {
		h2 {
			font-size: 1.4rem;
			text-align: center;
			color: var(--color-text) !important;
		}
		.faq-content {
			.faq-item {
				margin-bottom: 0.5rem;
				@include mixins.border-rounded;
				@include mixins.ombre-portee-panneau;

				.faq-question {
					@include mixins.top-border-rounded;
					width: 98%;
					padding-left: 1rem;
					color: var(--secondary-color-text) !important;
					font-size: 1.1rem;
					padding: 0.5rem 0 0 1rem;
					margin-block-end: unset !important;
					margin-block-start: unset !important;
				}

				.faq-response {
					padding: 0 1rem 0.2rem 1rem;
				}
			}
		}
	}
}

main {
	padding-bottom: 1rem;

	.other-footer-container {
		display: flex;
		align-items: center;
		justify-content: right;

		button span {
			font-size: 0.8rem;
			color: var(--grey-medium);
		}
	}
}

footer {
	.footer-container {
		padding: 1.5rem 1rem 1.5rem;

		.main-footer-container {
			display: block;
			width: 100%;

			.main-footer-flex-container {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				.entreprise-container {
					display: inline-block;
					padding: 0 1rem;

					.entreprise-flex-container {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-evenly;

						.logo-container {
							display: inline-block;
							img {
								width: 150px;
							}
						}

						.main-address-container {
							display: flex;
							flex-direction: column;
							h4 {
								margin: 0rem;
							}
							padding: 0 1rem;

							.section-content {
								ul {
									margin: 0;
									padding-left: 0;
								}
							}
							.siret-container .siret,
							.phone-container {
								font-size: 0.85rem;
							}
							.phone-container a {
								color: var(--secondary-text-color);
							}
						}
					}

					.disclaimers-container {
						display: inline-block;
						font-size: 0.9rem;
						font-weight: bold;
					}
				}
				.lateral-pane-container {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}
	.footer-overlay {
		display: block;
		position: absolute;

		.footer-overlay-container {
			background-color: var(--shadow-ligth);
			height: 32px;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: fixed;
			bottom: 0px;
			width: 100%;

			a.footer-phone {
				color: var(--primary-color) !important;
			}
		}
	}
}

.bottom-right-fixed {
	position: fixed !important;
	right: 10px;
	bottom: 2.65rem;
	z-index: 2;
	cursor: pointer;
	background-color: var(--background-color) !important;
}

.separator {
	display: block;
	width: 100%;
	text-align: center;
	margin: 1.5rem 0;
	img {
		width: 2.7rem !important;
		@include mixins.svg-text-color;
	}
}

.address-container {
	display: inline-block;
	address {
		display: flex;
		align-items: center;
		margin: 0.5rem;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;

		.section-adresse {
			flex-basis: 50%;
			padding: 0 1.5rem;
			p {
				margin-bottom: 0rem;
			}
			ul {
				margin-top: 0rem;
				padding-left: 0rem;

				li {
					display: inline-block;
				}
			}
		}
	}
	iframe {
		border: none;
		@include mixins.border-rounded;
		@include mixins.ombre-portee-basse-panneau;
	}
}

.text-third,
i.text-third {
	color: var(--tertiary-color) !important;
}

@media (min-width: 375px) {
	.size-s-hidden {
		display: none !important;
	}
	.size-s-visible {
		display: inherit !important;
	}
}

@media (min-width: 425px) {
	.size-m-hidden {
		display: none !important;
	}
	.size-m-visible {
		display: inherit !important;
	}
}

@media (max-width: 768px) {
	.cta {
		margin-bottom: 0.5rem;
	}
	.cta-container-row {
		flex-direction: column;
	}
	.footer-cta {
		padding: 0.5rem;
	}

	h1,
	h2 {
		font-size: 1rem !important;
	}
	h3 {
		font-size: 0.9rem !important;
	}

	.faq-response {
		p:not(:last-child) {
			padding-bottom: 0.25rem;
		}
	}

	.other-footer-container {
		flex-flow: column !important;
	}
}
@media (min-width: 768px) {
	.size-l-hidden,
	.img-l-container {
		display: none !important;
	}
	.size-l-visible {
		display: inherit !important;
	}
}
@media (max-width: 768px) {
	.App-body,
	.footer-container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	nav {
		.p-menubar-start {
			margin-left: 0.25rem !important;
		}
	}

	.address-container {
		text-align: center;
		width: 100% !important;
		.section-content {
			address {
				margin: 0rem !important;
				flex-direction: column !important;
				align-items: start !important;
				text-align: start;

				.section-map {
					width: 100% !important;
					text-align: center;
				}
				.section-adresse {
					width: 100% !important;
				}
			}
		}
	}

	.main-footer-flex-container {
		flex-direction: column !important;
		.entreprise-container {
			padding-left: 0 !important;
			padding-right: 0 !important;
			.entreprise-flex-container {
				align-items: start !important;
				.logo-container {
					margin-top: 0.25rem;
					img {
						display: inline-block;
						width: 35px !important;
					}
				}
			}
		}
		.lateral-pane-container,
		.disclaimers-container {
			font-size: 0.8rem;
		}
	}

	.cta,
	.cta-blockquote {
		font-size: 0.8rem;
	}
	.other-footer-container {
		button span {
			font-size: 0.75rem !important;
		}
	}
}

@media (max-width: 1185px) {
	nav {
		margin-top: 0.25rem;
		margin-bottom: 0.5rem;
	}
}

@media (min-width: 960px) and (max-width: 1330px) {
	nav {
		.p-menubar ul.p-menubar-root-list li.p-menuitem {
			a.p-menuitem-link {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}

@media (max-width: 1330px) {
	nav {
		.name-marie {
			display: none;
		}
	}
}

@media (min-width: 1024px) {
	.main-footer-flex-container {
		.address-container {
			white-space: nowrap;
		}
	}

	.size-xl-hidden {
		display: none !important;
	}
	.size-xl-visible {
		display: inherit !important;
	}
}
@media (min-width: 1440px) {
	.size-xxl-hidden {
		display: none !important;
	}
	.size-xxl-visible {
		display: inherit !important;
	}
}

@media (min-width: 1520px) {
	#root {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.App,
	footer .footer-overlay-container {
		max-width: 1520px;
	}
}
