@use 'rules/main';
@use 'rules/mixins';

body {
	color: var(--text-color);
	margin: 0;
	font-family: var(--text-font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-main-color);
	font-size: 15px !important;
}

p,
i:not(.pi),
span:not(.p-button-label):not(.p-button-icon):not(.facebook):not(.linkedin):not(
		.asterix
	):not(.p-menuitem-text):not(.p-toast-summary):not(.p-toast-message-icon),
td {
	color: var(--text-color) !important;
}

p {
	text-align: justify;
}

strong {
	font-weight: inherit;
	font-style: italic;
}

a:not(.p-menubar-button, .message a) {
	color: var(--text-color) !important;
	text-decoration: none;
}

label {
	margin-right: 1rem;
	display: flex;
}

a.cta {
	display: inline-block;
	@include mixins.btn-border-rounded;
	padding: 0.4rem 0.8rem;
}

.cta-primary {
	color: var(--text-color) !important;
	background-color: var(--secondary-color) !important;
	border: 0.1rem solid var(---secondary-color) !important;
}
.cta-secondary {
	color: var(--text-color) !important;
	border: 0.1rem solid var(--secondary-color) !important;
}
.cta-tertiary {
	color: var(--text-color) !important;
	@include mixins.ombre-portee-panneau;
}

ul,
dl {
	padding-left: 1.5rem;
}

ol {
	padding-inline-start: 0px;
	padding-left: 0;
}

li,
dt {
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--title-font-family);
}

h1 {
	color: var(--primary-color) !important;
	margin: inherit;
	padding: 1rem 0 0 0;
	margin-top: 0.2rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.95rem;
	font-style: italic;
}

.App header,
.App-body,
.App-cp.danger {
	padding: 0 1rem;
}

.App header,
.App-body {
	background: var(--background-color) !important;
}

.App-cp.danger {
	display: none;
}

.message-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	p {
		margin: 0;
		padding: 0.25rem 1rem;
		a {
			color: var(--tertiary-color) !important;
			font-size: 0.85rem;
		}
	}
}

header {
	padding: 0 !important;
	.title {
		.logo {
			vertical-align: top;
			display: inline-block;
			width: 2rem;
		}
		.nom-site {
			display: inline-block;
			padding-left: 1rem;
		}
	}
	nav {
		width: 100%;
	}
}

main {
	padding-bottom: 1rem;

	.other-footer-container {
		display: flex;
		align-items: center;
		justify-content: right;

		button span {
			font-size: 0.8rem;
			color: var(--grey-medium);
		}
	}
}

footer {
	font-size: 0.95rem;
	.footer-container {
		padding: 1.5rem 1rem 1.5rem;

		.main-footer-container {
			display: block;
			width: 100%;

			.main-footer-flex-container {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

				.entreprise-container {
					display: inline-block;
					padding: 0 1rem;

					.entreprise-flex-container {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-evenly;

						.logo-container {
							display: inline-block;
							img {
								width: 150px;
							}
						}

						.address-container {
							display: flex;
							flex-direction: column;
							h3 {
								margin: 0rem;
							}
							padding: 0 1rem;

							.section-content {
								ul {
									margin: 0;
									padding-left: 0;
								}
							}
							.siret-container .siret,
							.phone-container {
								font-size: 0.85rem;
							}
							.phone-container a {
								color: var(--secondary-text-color);
							}
						}
					}

					.disclaimers-container {
						display: inline-block;
						font-size: 0.9rem;
						font-weight: bold;
					}
				}
				.lateral-pane-container {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
	}
	.footer-overlay {
		display: block;
		position: absolute;

		.footer-overlay-container {
			background-color: var(--shadow-ligth);
			height: 32px;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: fixed;
			bottom: 0px;
			width: 100%;

			a.footer-phone {
				color: var(--primary-color) !important;
			}
		}
	}
}

.bottom-right-fixed {
	position: fixed !important;
	right: 10px;
	bottom: 2.65rem;
	z-index: 2;
	cursor: pointer;
	background-color: var(--background-color) !important;
}

.asterix {
	color: var(--secondary-color) !important;
}

.separator {
	display: block;
	width: 100%;
	text-align: center;
	margin: 1.5rem 0;
	color: var(--secondary-text-color) !important;
	font-size: 1.1rem;
}

.text-third,
i.text-third {
	color: var(--tertiary-color) !important;
}

@media (max-width: 768px) {
	.main-footer-flex-container {
		flex-direction: column !important;
		.logo-container img {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	// li {
	// 	text-align: inherit;
	// }
	// .p-menubar .p-menubar-end {
	// 	font-size: 0.85rem;
	// }
	// .App-body {
	// 	flex: unset;
	// 	flex-direction: unset;
	// 	padding: 0;
	// 	display: block;
	// }
	// main,
	// aside {
	// 	flex: 1 1;
	// 	margin: 0;
	// }

	// .title {
	// 	align-items: unset;

	// 	h1 {
	// 		text-align: right;
	// 		padding-right: 0.5rem;
	// 		font-size: 1rem;
	// 	}

	// 	.logo {
	// 		display: none;
	// 	}
	// }

	// .footer-container {
	// 	flex-direction: column;
	// 	align-items: unset;
	// }

	// .siret {
	// 	display: block;
	// 	text-align: center;
	// }
}

@media (min-width: 426px) and (max-width: 691px) {
	// aside.content ul {
	// 	padding-left: 0;
	// }
	// .title {
	// 	h1:not(.aside) {
	// 		margin-top: 0.7rem;
	// 	}
	// }
}

@media (min-width: 601px) and (max-width: 960px) {
	// li {
	// 	text-align: inherit;
	// }
	// main {
	// 	flex: 2 1;
	// }
	// .title {
	// 	h1:not(.aside) {
	// 		margin-top: inherit !important;
	// 	}

	// 	align-items: center;
	// 	padding-left: 2rem;

	// 	.logo {
	// 		display: none;
	// 	}
	// }
}

@media (min-width: 920px) {
	nav {
	}
	// .title {
	// 	h1:not(.aside) {
	// 		margin-top: inherit !important;
	// 	}
	// 	.logo {
	// 		display: inherit;
	// 	}
	// 	.logo img {
	// 		height: 130px;
	// 	}
	// 	align-items: center;
	// }
}

@media (min-width: 961px) and (max-width: 1024px) {
	.title {
		.logo img {
			height: 115px !important;
		}
	}

	nav .p-menuitem .p-menuitem-text,
	.p-menubar-end {
		font-size: 0.68rem;
	}
}

@media (min-width: 1520px) {
	#root {
		display: flex;
		flex: 1;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.App,
	footer .footer-overlay-container {
		max-width: 1520px;
	}
}
