/* :root { /* vert * /
  --text-color: #282828 !important;
  --text-color-secondary: #a0a0a0 !important;
  --primary-color-text: #ffffff !important;
  --primary-color: #008000 !important;
  --secondary-color-text: #008000 !important;
  --secondary-color:#00ff00 !important;
  --background-main-color: #eeeeee !important;
  --background-color: #f0f0f0 !important;
  --shadow:rgba(128, 128, 128, 0.1) !important;
  --shadow-ligth:rgba(255, 255, 255, 0.9) !important;
  --grey-medium:rgba(128, 128, 128) !important;
} */

:root { /* organge */
  --text-color: #3f2509 !important;
  --text-color-secondary: #e0a14e !important;
  --primary-color-text: #ffffff !important;
  --primary-color: #ff6200 !important;
  --secondary-color-text: #ff6200 !important;
  --secondary-color:#ffb554 !important;
  --background-main-color: #eeeeee !important;
  --background-color: #f0f0f0 !important;
  --shadow:rgba(128, 128, 128, 0.1) !important;
  --shadow-ligth:rgba(255, 255, 255, 0.9) !important;
  --grey-medium:rgba(128, 128, 128) !important;
}

body {
  color: var(--text-color);
  margin: 0;
  font-family: 'Amita', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-main-color);
  font-size: 16px !important;
}

p, a, span:not(.p-button-label):not(.p-button-icon):not(.facebook), td,  h3{
  color: var(--text-color) !important;
}

p{
  text-align: justify;
}

ul {
  padding-left: 1.5rem;
}

ol {
  padding-inline-start: 0px;
  padding-left:0 ;
}

li:before {
  content: ॐ;
}

h1, h2, strong, i:not(.pi) {
  color: var(--primary-color) !important;
}

h1:not(.aside) {
  margin: inherit;
  padding: 0.83em 0 0 0;
  margin-top: 0.2rem;  
}


.App-body {
  padding: 0 1rem;   
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;  
  justify-content: space-between; 
}

header {
  background-color:#1F1B17;
  height: 40vh;
  align-items: flex-start;
}

header article {
  background-image: url("../assets/header_5.png");
  background-size: contain;
  background-position: right bottom;
  width: 100%;
  height: 75%;
  background-repeat: no-repeat;
}

header nav {
  width: 100%;
}

nav .logo {
  width: 1.5rem;
  display: flex;
}

.title {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: left; 
  padding-left: 4rem;
  font-size: 1.1rem;
}


.title .logo {
  flex: 1;
  padding-top: 2.7rem
}

.title .logo img {
  width: 100px;
}

.title h1 {
  color: var(--secondary-color) !important;
  text-align: left;
  flex: 5;
}

main.content {
  flex: 4 1;
  flex-direction: column;
  margin: 0 1rem;
  padding: 0 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 5px 5px 5px var(--shadow);
  background-color: var(--background-color);
}

aside.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
  padding: 0 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 5px 5px 5px var(--shadow);
  background-color: var(--background-color);
}

article {
  padding-bottom: 1rem;
}

article:not(.title) h1:not(.aside) {
  box-shadow: -0.5rem 0 0 0 var(--secondary-color);
  display: inline-block;
  position: relative;
  padding-left: 0.4rem;
  left: -0.6rem;
}

article section aside {
  flex: 1 1;
  align-items: center;
}

.article-footer {
  background-color: var(--background-color);
  padding-bottom: 1.5rem;  
}

.article-footer section {
  margin: 0rem 1rem 1.5rem;
  padding: 0 1rem;
}

.article-footer button span { 
  font-size: 0.8rem;
}

footer {
  background-color: var(--shadow-ligth);
  min-height: 22px;
  vertical-align: bottom;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
}

footer a,
footer a:hover,
footer a:active {
  color: var(--primary-color) !important;
}

.bottom-right-fixed {
  position: fixed !important;
  right: 10px;
  bottom: 2.65rem;
  z-index: 2;
  cursor: pointer;
  background-color: var(--background-color) !important;
}

.separator {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
  color: var(--secondary-color) !important;
  font-size: 1.1rem;
}

.facebook span {
  color: var(--primary-color-text) !important;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem !important;
  padding-right: 1rem !important;
}

@media (max-width: 426px) {
  .App-body {
    flex: unset;
    flex-direction: unset;
    padding: 0;
    display: block;
  }
  main, aside {
    flex: 1 1;
    margin: 0;
  }
  .title {
    align-items:unset;
  }
  .title h1 {
    text-align: right; 
    padding-right: 0.5rem;
    font-size: 1rem;
  }
  .title .logo {
    display: none;
  }
}

@media (max-width: 769px) and (min-width: 427px) {
  main {
    flex: 2 1;
  }
  .title {
    align-items:unset;
    padding-left: 2rem;
  }
  .title .logo {
    display: none;
  }
}
@media (min-width: 770px) {
  nav .logo {
    width: 1.7rem;
  }
  .title h1 {
    align-items:center;
  }
}

@media (min-width: 1024px) {
  .title .logo img {
    width: 150px;
  }
}


@media (min-width: 1520px) {  
  #root {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .App {
    max-width: 1520px;
  }
  
  footer {
    max-width: 1520px;
  }
}