.p-component:not(.p-carousel),
.p-dropdown-label {
	font-family: 'Amita', cursive;
}

.p-component:not(.p-button),
.p-dropdown-label {
	color: var(--text-color) !important;
}

.p-inputtext {
	display: flex;
}

// .p-component:not(.p-button):hover,
// .p-component:not(.p-button):active,
// .p-component:not(.p-button):focus {
// 	border-color: var(--secondary-color) !important;
// }

.p-error {
	display: flex;
	margin-left: 1rem;
}

.p-button:not(
		.facebook,
		.linkedin,
		.twitter,
		.instagram,
		.bottom-right-fixed,
		.p-button-secondary
	) {
	background: var(--primary-color) !important;
	border: var(--primary-color) !important;
}

.p-button:not(.bottom-right-fixed) {
	padding: 0.2rem 0.75rem;
}

nav {
	.p-menubar {
		border: inherit;
		border-radius: 0 !important;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 !important;
		background: unset;

		.p-menubar-start {
			margin-left: 1.5rem;
		}

		.p-submenu-list {
			background-color: var(--background-color);
		}

		.p-menuitem .p-menuitem-text {
			font-size: 1rem;
		}
		ul {
			padding-left: 0.5rem;
		}
		ul li {
			padding: 0 0.5rem;
		}
		.p-icon.p-submenu-icon {
			color: var(--primary-color);
			vertical-align: middle;
		}
		.p-submenu-list {
			width: max-content !important;
		}

		.p-menubar-start,
		.p-menubar-root-list,
		.p-menubar-end,
		.p-menuitem-content {
			display: flex !important;
		}

		.p-menuitem-text {
			display: block !important;
		}

		.p-menubar-root-list {
			* > .p-menuitem > .p-menuitem-link {
				padding: 0.2rem 0.75rem;
			}
		}
	}
}

b p,
.p-menubar .p-menubar-button,
.bottom-right-fixed,
.p-button-secondary,
.p-button-icon-only,
nav .p-menuitem:not(.selected) .p-menuitem-text {
	color: var(--text-color) !important;
}

nav li.p-menuitem.selected > .p-menuitem-content a .p-menuitem-text {
	color: var(--primary-color) !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
	background-color: var(--secondary-color) !important;
}

.p-carousel .p-link .p-icon {
	color: var(--primary-color);
}

#promotion {
	i {
		font-size: 0.85em;
	}
	sup {
		color: var(--primary-color) !important;
	}
	.p-panel-title {
		color: var(--tertiary-color) !important;
	}
}

@media (min-width: 1024px) and (max-width: 1150px) {
	nav .p-menuitem .p-menuitem-text,
	.p-menubar-end {
		font-size: 0.75rem;
	}
}
