@import '../rules/_mixins.scss';

.Consultations {
  article > section {
    @include article-section;
    flex-direction: column;
    align-items: flex-start;
  }

  article section aside > div {
    @include flex-content-center;
  }

  aside {
    @include paragraphe-img-container;
  }

  .asterix {
    color: var(--primary-color) !important;
  }

  .paragraphe-1-2, .paragraphe-2-1 {
    flex-direction: row;
  }

  .paragraphe-2-1 {
    align-items: flex-start;
  }

  .paragraphe-2-1 .paragraphe-content {
    display: inline-block;
    width: 45%;
  }

  .paragraphe-1 {
    margin-top: 1rem;
  }

  .paragraphe-1-3 .paragraphe-content.perimetre li {
    display: inline-block;
    width: 50%;
  }

  .paragraphe-1-3 .paragraphe-content ul>li:before {
    content:"";
    display: list-item;
    position: absolute;
  }  
  
  img  {
    @include paragraphe-img;
  }

  .img-consultations-map {
    width: 50%;
    height: 50%;
  }

  .map iframe {
    @include ombre-portee-panneau;
    border:none;
    width:600px;
    height:250px
  }
}

@media (max-width: 427px) {
  .Consultations {
    .paragraphe-1-2 {
      flex-direction: column;
      align-items: inherit !important;
    }
    .map iframe {
      width:250px;
    }
  }  
}

@media (max-width: 768px) {
  .Consultations {
    article section {
      flex-direction: column;
    }

    .paragraphe-1-2 {
      align-items: end;
    }

    .paragraphe-1-3 .paragraphe-content.perimetre li {
      display: block !important;
      width: 100%;
    }
    .paragraphe-2-1, .paragraphe-2-1 .paragraphe-content ul  {
      display: flex;
      flex-direction: column;
    }

    .paragraphe-2-1 .paragraphe-content
    {
      width: unset;
    }

    .img-consultations-map {
      width: 80%;
      height: 80%;
    }
    
  }
}

@media (max-width: 1024px) {
  .Consultations {
    .map iframe {
      height:200px;
      width:450px;
    }
  }
}


@media (min-width: 769px) {
  .Consultations aside {
    flex-direction: inherit;
  }
}



