.M5C {
article > section {
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  flex-direction: row;
}

article section:not(.paragraphe-2-2) aside {
  height: 100%;
  width: 100%;
}

article section.paragraphe-2-2 aside > div {
  display: block;
}

article section:not(.paragraphe-2-2) aside > div {
  display: flex;
  justify-content: center;
}

.img-m5c,
.img-he {
  width: 100%;
  height: 100%;
}

.paragraphe-1-1 .paragraphe-content,
.paragraphe-1-2 .paragraphe-content.he,
.paragraphe-2 .paragraphe-content, 
.paragraphe-3 .paragraphe-content, 
.paragraphe-4 .paragraphe-content {
  flex: 2 1;
}

.paragraphe-1-2 .paragraphe-content.he li {
  display: inline-block;
  width: 50%;
}

.paragraphe-1-2 .paragraphe-content ul>li:before {
  content:"";
  display: list-item;
  position: absolute;
}


.paragraphe-1 .paragraphe-content,
.paragraphe-1-2 .paragraphe-content{
  flex: 1 1;
}

.paragraphe-2-2 aside {
  justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.img-m5c-tete, .img-m5c-pied {
  border-radius: 25px;
  transform: rotate(90deg);
}

.img-m5c-genou {
  width: 80%;
  height: 80%;
  border-radius: 25px;
}


.paragraphe-3, .paragraphe-4 {
  align-items: center;
}

.paragraphe-3 .paragraphe-content  {
  margin-left: 1rem;
}

@media (max-width: 426px) {
  .content article section {
    flex-direction: column;
  }
  .paragraphe-3 {
    flex-direction: column-reverse !important;
  }
  .img-m5c-kanji {
    width: 12%;
  }
}

@media (max-width: 769px) and (min-width: 427px) {
  .paragraphe-1 .paragraphe-content {
    flex: 3 1;
  }

  .paragraphe-2 .paragraphe-content, 
  .paragraphe-3 .paragraphe-content, 
  .paragraphe-4 .paragraphe-content {
    flex: 1 1;
  }
  .paragraphe-3 {
    flex-direction: column-reverse !important;
  }
  .paragraphe-2, .paragraphe-4{
    flex-direction: column !important;
  }
}

@media (max-width: 1025px) and (min-width: 470px) {
  .paragraphe-2 .paragraphe-content, 
  .paragraphe-3 .paragraphe-content, 
  .paragraphe-4 .paragraphe-content {
    flex: 1 1;
  }
}

}
