@import '../rules/_mixins.scss';

.M5C {
  article > section {
    @include article-section;
  }
  
  article section aside > div {
    @include flex-content-center;
  }  

  aside {
    @include paragraphe-img-container;
  }

  .paragraphe-1-1 .paragraphe-content,
  .paragraphe-1-2 .paragraphe-content.he,
  .paragraphe-2 .paragraphe-content, 
  .paragraphe-3-2 .paragraphe-content, 
  .paragraphe-4 .paragraphe-content {
    @include paragraphe-txt-container;
    
  }

  .paragraphe-1 .paragraphe-content,
  .paragraphe-1-2 .paragraphe-content{
    flex: 1 1;
  } 

  .paragraphe-1-2 .paragraphe-content.he li {
    display: inline-block;
    width: 50%;
  }

  .paragraphe-1-2 .paragraphe-content ul>li:before {
    content:"";
    display: list-item;
    position: absolute;
  }  

  .img-m5c{
    width: 75%;
    height: 75%;
  }

  img:not(.img-m5c)  {
    @include paragraphe-img;
  }
}

@media (max-width: 769px) {
    .M5C {
      article section {
        flex-direction: column;
      }
      article section aside > div {
        display: flex !important;
        justify-content: center;
      }
      
      .paragraphe-3 {
        flex-direction: column-reverse !important;
      }
  
      .paragraphe-3 .paragraphe-content {
        margin-left: 0;
      }
  
      .ul-he {
        display: flex !important;
        flex-direction: column;
      }
  
      .img-m5c {
        width: 50% !important;
      }
      
    }
  }

@media (min-width: 770px) {
  .M5C {
    article section:not(.paragraphe-2-2) aside {
      height: 100%;
      width: 100%;
    }
  
    article section.paragraphe-2-2 aside > div {
      display: block;
    }

    article section.paragraphe-4 aside > div {
      display: block;
    }

    .paragraphe-2-2 .paragraphe-content, 
    .paragraphe-3-2 .paragraphe-content, 
    .paragraphe-4 .paragraphe-content {
      flex: 1 1;
    }

    .paragraphe-3-2, .paragraphe-4,.paragraphe-3-2 aside {
      align-items: center;
    }

    .paragraphe-2-2, .paragraphe-4 {
      flex-direction: column !important;
    }

    .paragraphe-4 aside {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }    
  }
}


